Defaults:adrl !requiretty
adrl ALL=(ALL) NOPASSWD:SETENV: /usr/bin/systemctl start sidekiq
adrl ALL=(ALL) NOPASSWD:SETENV: /usr/bin/systemctl stop sidekiq
adrl ALL=(ALL) NOPASSWD:SETENV: /usr/bin/systemctl restart sidekiq
adrl ALL=(ALL) NOPASSWD:SETENV: /usr/bin/systemctl status sidekiq
